body {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  width: 1100px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 24px;
  width: 1052px;
  margin: auto;
}
.logo {
  width: 148px;
  height: 105px;
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 18px;
  list-style: circle;
}

.links li a {
  color: black;
}

.contacts p {
  font-size: 15;
  font-family: inherit;
  padding: 0 24px;
  max-width: 20ch;
  line-height: 1.6;
  margin: 0;
}

.underline {
  text-decoration: underline;
}

.menu {
  padding-left: 24px;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}

.menu p,
.menu li,
.menu a {
  font-size: 18px;
}

.firts-page {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 1100px;
  height: 757px;
  background: url("/ono-tebe-nado/images/lotus-flower.png") center/cover
    no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.big-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 100px;
}

.big-text-container h1 {
  margin-top: 20px;
  font-size: 100px;
  color: whitesmoke;
  font-weight: 700;
}

.big-text-one {
  align-self: self-start;
  letter-spacing: 30px;
  margin-bottom: 0;
  font-weight: 700;
}

.big-text-two {
  align-self: center;
  letter-spacing: 30px;
  margin-bottom: 0;
  font-weight: 700;
}

.big-text-three {
  align-self: end;
  letter-spacing: 30px;
  font-weight: 700;
}

.text-and-button {
  display: flex;
  gap: 5em;
  padding: 0 5em;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-right: 4em;
  align-items: center;
  width: 1000px;
}
.small-text {
  margin: 0;
  color: whitesmoke;
  word-spacing: 24.2px;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  font-family: inherit;
  display: block;
}

.lots-section {
  display: flex;
  flex-direction: column;
  margin: 6em 1em;
}

.lots-section h2,
.lot a,
button,
h1,
h2,
.small-text {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.lots-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  gap: 1em;
}
h2 {
  margin-bottom: 0;
  margin-left: 40px;
}

.lot {
  width: 334px;
  height: 563px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.lot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.first-lot {
  background-image: url(/ono-tebe-nado/images/lot1.png);
  display: flex;
  flex-direction: column;
}

.first-lot p {
  margin-top: auto;
}

.second-lot {
  background-image: url(/ono-tebe-nado/images/lot2.jpg);
  display: flex;
  flex-direction: column;
}

.second-lot a {
  margin-bottom: 0;
  padding-bottom: 0;
}
.second-lot p {
  margin-top: -3em;
  padding-top: 0;
}

.third-lot {
  background-image: url(/ono-tebe-nado/images/lot3.png);
  display: flex;
  flex-direction: column;
}

.third-lot p {
  margin-top: auto;
}

.lot p,
.lot a {
  color: whitesmoke;
  padding: 30px;
  display: block;
  text-shadow: 0.5px 0.5px black;
}

.lot p {
  font-size: 20px;
}

.lot a {
  font-weight: 700;
}

button {
  font-weight: 500;
  font-size: 22px;
  text-shadow: 1px 1px black;
}

.see-more {
  color: black;
  margin-left: 40px;
}

.about-auction {
  margin-top: 6em;
  width: 1052px;
  height: 595px;
  padding: 0 24px;
}

.round-logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 3em;
}
.about-auction {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100px 100px 100px 200px auto;
  gap: 20px;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.logo-h2 {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.title {
  grid-column: 2 / 2;
  grid-row: 2 / 2;

  align-self: start;
}

.title-text {
  grid-column: 2 / 3;
  grid-row: 3/ 4;
  align-self: start;
}

.text {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  align-self: start;
  margin-left: 2em;
}

.logo-h2 {
  display: flex;
  direction: row;
  align-items: center;
  gap: 6em;
  margin-bottom: -4em;
  margin-top: 6em;
  padding: 0;
}

footer {
  display: flex;
  direction: row;
  width: 90%;
  margin: 150px 24px 150px 24px;
  justify-content: space-between;
}

.social-media {
  display: flex;
  direction: row;
  gap: 2em;
}

.social-media img {
  width: 50px;
  height: 50px;
}

.footer-links {
  list-style: none;
}

.footer-links a {
  color: black;
}
